// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$darkest: #3B3E3F;
$magnolia: #F8F1FF;
$darkliver: #534D56;
$errorcolor: #F9564F;
$goldcrayola: #F3C677;
$tiffanyblue: #2EC4B6;


$mauve-text: #EFC3F5;
$purple-text: #7353BA;
$light-green-text: #EBFFF3;
