// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Space+Mono:wght@400;700&display=swap');

// Define fonts for body and headers
$body-font: 'Space Mono', monospace;
$headers-font: 'Space Mono', monospace;
$logo-font: 'DotGothic16', sans-serif;


