#call-to-action {
  display: inline-block;

  font-weight: bolder;
  color: white;

  padding: 11px 19px;
  margin: 10px;
  border: 1px solid $mainpurple;
  background-color: #29B278;
  border-radius: 4px;
}
