.navbar {
  justify-content: space-between;
  background-image: asset-url('space_gazing.jpg');
  // linear-gradient: (135deg, rgba(100, 100, 100, 0.6), rgba(180, 180, 180, 0.8)),
  //                   asset-url('space_gazing.jpg');
  background-size: cover;
  background-position: 50% 18%;

  height: 88px;

  a {
    text-decoration: none;
    color: $mauve-text;
  }

  a:hover {
    text-decoration: none;
  }

  h1 {
    color: $purple-text;
    font-family: $logo-font;
    padding-left: 24px;
    font-size: 5rem;

    text-shadow: 3px 3px 5px rgba(50, 50, 50, 0.6)
  }
}

#nav-id {

}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  padding-left: 24px;
}
