.table-container {
  background: linear-gradient(135deg, rgba(69,72,74,1),rgba(240,240,240,0.15));
  box-shadow: 0 0 10px rgba(126,92,199,0.3);
  border-radius: 5px;
  padding: 24px;
}

table {
  min-width: 40vw;
}
