<div class="container flex-column">
  <% if current_user.admin %>

    <h1>New Show</h1>

    <%= render 'form', show: @show %>

  <% else %>
    <p><strong>Admins Only!</strong></p>
  <% end %>
</div>
